@using DatingApp.Resources.Labels
<div class="container">
    <ul class="nav nav-pills nav-stacked">
        <li id="navBasic">@Html.ActionLink(Labels.BasicSearch, "basic")</li>
        <li id="navAdvanced">@Html.ActionLink(Labels.AdvancedSearch, "advanced")</li>        
    </ul>
</div>
